<h5 class="pb-3">Please Login !!</h5>
<div class="example-container">
    <div>
        <mat-form-field>
            <input matInput placeholder="Enter your email" [(ngModel)]="email" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Enter your password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button class="mr-5">Cancel</button>
        <button mat-raised-button class="pull-right" (click)="login()">Log In</button>

    </div>
</div>