<!-- <mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
    </form>
</mat-card>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
<img src="./assets/Background.jpg" alt="Image not found" width="100%" height="625" class="p-0">
<!-- <mat-card class="example-card p-0">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Log In</button>
        <button class='m-5' mat-raised-button (click)="signout()" color="primary">Sign Out</button>
        <button class='m-5' mat-raised-button (click)="signUp()" color="primary">Sign Up</button>
        <button class='m-5' mat-raised-button (click)="refresh()" color="primary">Refresh</button>
        <button class='m-5' mat-raised-button (click)="getTheData()" color="primary">Get the Data</button>
    </mat-card-actions>
</mat-card> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button *ngIf=(!isLogedIn) class="btn btn-outline-success my-2 my-sm-0" (click)="openDialog()" type="submit">Log In</button>
            <h5>Welcome {{currentlyLoginUser}}</h5>
            <button *ngIf=(isLogedIn) class="btn btn-secondary my-2 my-sm-0" (click)="signout()" type="submit">Sign Out</button>
        </form>
    </div>
</nav>